[Unit]           #this file is not needed as we mentioned in cart.service.j2 of templates
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=redis.daws76s.online
Environment=CATALOGUE_HOST=catalogue.daws76s.online
Environment=CATALOGUE_PORT=8080
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target
